.header {
  height: 34vw;
  margin: 10px auto;
  background: url("/header_img11.png") no-repeat;
  background-size: cover;
  position: relative;
  border-radius: 15px;
}
.header-contents {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 1.5vw;
  max-width: 40%;
  bottom: 10%;
  left: 45vw;
  animation: fadenIn 3s;
}

.header-contents h2 {
  font-weight: 500;
  color: white;
  font-size: max(4.5vw, 22px);
}
.header-contents p {
  color: white;
  /* font-size: 1vw; */
}
.header-contents button {
  border: none;
  color: #747474;
  font-weight: 500;
  padding: 1vw 2.3vw;
  background-color: rgb(242, 231, 231);
  font-size: max(1vw, 16px);
  border-radius: 50px;
}
.order-button {
  position: relative;
  cursor: pointer;
  right: 22vw;
}
.order-button:hover {
  background-color: rgb(232, 183, 183);
}

@media (max-width: 1300px) {
  .order-button {
    right: 21vw;
  }
}
@media (max-width: 1050px) {
  .header-contents {
    max-width: 45%;
  }
  .header-contents .order-button {
    right: 22vw;
  }
}
@media (max-width: 900px) {
  .header-contents p {
    display: none;
  }
  .header-contents .order-button {
    padding: 2vw 4vw;
    right: 18vw;
  }
}
@media (max-width: 376px) {
  .header-contents .order-button {
    right: 10vw;
  }
  .header-contents h2 {
    font-size: max(4.5vw, 17px);
  }
}
@media (max-width: 415px) {
  .header-contents .order-button {
    right: 10vw;
  }
  .header-contents h2 {
    font-size: max(4.5vw, 17px);
  }
}
@media (max-width: 431px) {
  .header-contents .order-button {
    right: 10vw;
  }
  .header-contents h2 {
    font-size: max(4.5vw, 17px);
  }
}
@media (max-width: 1025px) {
  .header-contents p {
    margin: 0px 18px 0px 0px;
    text-align: justify;
  }
}
